.ModalContainer {
    width: 99%;
    height: 450px;
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: column;
}

.ModalHeaderContainer {
    width: 100%;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.EditContentModalHeaderTextContainer {
    display: flex;
    justify-content: center;
    font-size: 18px !important;
}

.ModalContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    align-content: stretch;
    align-items: flex-start;
}

.ModalContentTitleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ModalActionsContainer {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly !important;
}
